.home-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #F0EDE6;
  height: 95vh;
  font-family: "neue-haas-grotesk-display", sans-serif;
  padding-left: 5vw;
  padding-right: 5vw;
}

.jumpimg img {
  width: 28vw;
  padding: 0;
  margin: 0;
}

.home-introtext {
  text-align: center;
  width: 14.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 0.5vw;
}

.home-introtext img {
  width: 3.281vw;
  margin: 0;
  padding: 0;
}

.home-introtext h1 {
  font-size: 7vw;
  line-height: 1;
  margin-bottom: 0.5vw;
  padding: 0;
}

.home-introtext p {
  font-size: 1vw;
  margin: 0;
  padding: 0;

}

.home-introtext p span {
  color: #AE1D14;
}

.smallbio {
  width: 33vw;
  font-size: 1.8vw;
  text-align: right;
  margin-top: 4.5vw;
}

.smallbio span {
  font-weight: bold;
}

.contacticon {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 0.8vw;
}

.contacticon img {
  width: 2.5vw;
}