.design-layouts-page .design-container {
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: "neue-haas-grotesk-display", sans-serif;
    line-height: 1;
}

.design-layouts-page .design-section-header {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

.design-layouts-page .design-section-header-introtext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    align-items: flex-start;
    width: 50%;
    margin-left: 10vw;
    color: #000000;
}

.design-layouts-page .design-section-header .design-section-header-introtext h1 {
    font-size: 5vw;
    text-align: left;
    font-style: italic;
    margin: 0;
    margin-bottom: 1vw;
    color: #0024cc;
}

.design-layouts-page .design-section-header .design-section-header-introtext p {
    font-size: 1.5vw;
    width: 80%;
}

.design-layouts-page .design-collections {
    background-color: #F0EDE6;
    margin: 0;
    padding: 0 10vw;
    line-height: 1;
    color: #101010;
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2vw;
    padding-bottom: 5vw;
}

.design-layouts-page .design-collections h2 {
    font-size: 2.5vw;
    font-style: italic;
    width: 100%;
    margin-top: 4vw;
    color: #101010;
}

.design-layouts-page .design-intro {
    font-size: 1.2vw;
    color: #101010;
    line-height: 1.4;
    margin: 0;
    opacity: 0.9;
}

.design-layouts-page .design-collections h3 {
    font-size: 2vw;
    font-style: italic;
    color: #101010;
    width: 100%;
    margin: 0;
    margin-top: 2vw;
}

.design-layouts-page .design-collection {
    width: 25.3vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.design-layouts-page .design-collection a, .design-layouts-page .design-collection a:visited {
    text-decoration: none;
    color: #101010;
}

.design-layouts-page .design-collection-image {
    width: 100%;
    height: 25.3vw;
    background-color: #101010;
    margin-bottom: 2vw;
    border-radius: 20px;
    overflow: hidden;
}

.design-layouts-page .design-collection-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.design-layouts-page .design-collection-image:hover {
    transform: scale(1.05);
    transition: all 0.2s ease;
}

.design-layouts-page .design-collection-image:hover img {
    transform: scale(1.1);
}

.design-layouts-page .design-collection-info {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0px;
    padding: 0;
}

.design-layouts-page .design-collection-info h4 {
    font-size: 1.5vw;
    margin: 0;
}

.design-layouts-page .design-collection-info p {
    font-size: 1vw;
}

.design-layouts-page .design-collection-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5vw;
}

.design-layouts-page .design-collection-tags p {
    background-color: #101010;
    color: #F0EDE6;
    padding: 0.5vw 1vw;
    border-radius: 20px;
    text-decoration: none;
    font-size: 0.75vw;
    font-weight: 500;
    transition: all 0.2s ease;
    border: 1px solid #101010;
    margin: 0;
}

.design-layouts-page .design-collection-tags p:hover {
    background-color: #AE1D14;
    color: #F0EDE6;
    border-color: #AE1D14;
}

.design-layouts-page .pdf-container {
    width: 100%;
    margin-top: 2vw;
    margin-bottom: 4vw;
}
